#button1{margin: -45px 50px 75px 250px; }
#third{color:#C94B30; font-size: 120%; background:#aef5fc; padding:10px ; width:auto; height:auto;}
#first1{text-decoration:underline dotted; text-align: center;}
#button1:hover{background-color:orange; box-shadow: 5px 10px 40px grey;}
ul{list-style-type:circle;}
footer{padding: 10px;
	background: #ddd;}

#second{width: auto;
    height: auto;
	max-width: 400px;}	
@keyframes myanime{
	0%{background-color:#e8af4c;}
	25%{background-color:#f4f751;}
	50%{background-color:#f76150;}
	100%{background-color:#71f765;}
}

#first1{
	animation-name:myanime;
	animation-duration:4s;
	animation-iteration-count:infinite;
	width:auto;
	height:auto;
	
}

.container{box-shadow:5px 10px 30px grey;}
.container1{margin: -15px 50px 10px 50px;box-shadow:5px 10px 30px grey;}


footer:hover{background:#eff1f4;}
h3:hover{background:#eaccb4}
h3{color:#f27c21;}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 80%;
  
}

.fa:hover {
    opacity: 0.9;
	box-shadow:5px 10px 40px grey;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin{
	background:#007bb5;
	color:white
}
.fa-google{
	background: #dd4b39;
  color: white;
}

.fa-quora{
	background:#990f06;
	color:white;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 23px; /* Increase font size */
}

#myBtn:hover {
    background-color: #8DAA50; /* Add a dark-grey background on hover */
}
@media only screen and (min-width: 768px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("wallpaper2you_267128.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("laptop-3190194_1280.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("wallpaper2you_267128.jpg");
  min-height: 100px;
}
}
@media only screen and (max-width: 600px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("wallpaper2you_267128.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("hd-backgrounds-websites-350851-download-free-website-background-1920x1080-for-mobile-hd.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("wallpaper2you_267128.jpg");
  min-height: 100px;
}

}


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
